.cursos-container{
 width: 90%;
 height: auto;
 margin: auto;
 padding:1%;
 background: #ddd;
 border: 1px solid #ccc;
 border-radius:5px;

  h1{
   font-family: 'Verdana';
   font-size: 1.8em;
   color: #222;
  }

}