<section class="cursos-container"> 
  
  <h1>{{ title }}</h1>
  <p>{{ subtitle }}</p>

  <mat-grid-list cols="5" rowHeight="360px" gutterSize="1em">

    <mat-grid-tile class="cursos-list-item" *ngFor="let curso of cursos | async">
      <mat-card class="mat-elevation-z3">
        <img mat-card-image [attr.src]="curso.imagem" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <mat-card-title>{{ curso.titulo }}</mat-card-title>
          <mat-card-subtitle>{{ curso.descricao }}</mat-card-subtitle>
          <mat-card-subtitle>{{ curso.horas }} horas de curso</mat-card-subtitle>
        </mat-card-content>
        <a href="{{ curso.link }}">
          <button mat-raised-button color="warn">
            <mat-icon aria-label="Assistir Aula">play_arrow</mat-icon>
            Assistir Aula
          </button>
        </a>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</section>