.login-container{
 width: 100%;
 height: 100%;
 margin-top: 4rem;
 background-image: url('../../../assets/images/bgLogin.fw.png');
 background-size: 100%;
 background-repeat:no-repeat;
}

.login-content{
 width: 40%;
 padding-top: 8rem;
 margin: auto;
}

.form-content{
 margin: auto;
 margin: 3rem 0 3rem 0;
}