<mat-sidenav-container class="app-container">

  <!-- navigation menu -->
  <mat-sidenav mode="side" opened="false" class="app-sidenav">
    <webflix-menu></webflix-menu>
  </mat-sidenav>

  <!-- application container -->
  <mat-sidenav-content class="app-container">

    <!-- header -->
    <webflix-header></webflix-header>

    <!-- Cursos List -->
    <webflix-cursos-list></webflix-cursos-list>
    
    <webflix-cursos-list></webflix-cursos-list>

  </mat-sidenav-content>

</mat-sidenav-container>