<mat-sidenav-container class="app-container">

  <!-- navigation menu -->
  <mat-sidenav mode="side" opened="false" class="app-sidenav">
    <webflix-menu></webflix-menu>
  </mat-sidenav>

  <!-- application container -->
  <mat-sidenav-content class="app-container">

    <!-- header -->
    <webflix-header></webflix-header>

    <!-- Cursos List -->
    <webflix-cursos-list 
      [title]="'Cursos de Angular'"
      [subtitle]="'Confira os novos cursos de Angular 5'"
      [filter]="filterCursosAngular"></webflix-cursos-list>

    <webflix-cursos-list 
      [title]="'Cursos de Java'"
      [subtitle]="'Confira os novos cursos de Java Web'"
      [filter]="filterCursosJava"></webflix-cursos-list>
    
    <webflix-cursos-list 
      [title]="'Todos os Cursos'"
      [subtitle]="'Confira todos os nossos cursos disponíveis'"></webflix-cursos-list>

  </mat-sidenav-content>

</mat-sidenav-container>