<mat-toolbar color="primary" class="webflix-header mat-elevation-z3">
  <mat-toolbar-row>

    <div class="header-hamburguer">
      <button mat-icon-button>
        <mat-icon aria-label="Open Menu Button">menu</mat-icon>
      </button>
    </div>

    <div class="header-brand" (click)="home()">
     <img src="assets\images\logo.fw.png" />
    </div>

    <div class="header-search">
      <mat-form-field class="header-search-input">
        <input type="text" matInput placeholder="O que você quer aprender hoje?">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="header-nav">

      <button mat-button [matMenuTriggerFor]="categoriasDropdown">
        <mat-icon aria-hidden="true">view_module</mat-icon>
        Categorias
      </button>
      <mat-menu #categoriasDropdown="matMenu">
        <button *ngFor="let categoria of categorias | async" mat-menu-item>
          {{ categoria.categoria }}
        </button>
      </mat-menu>

      <button mat-button (click)="cursos()">
        <mat-icon aria-hidden="true">school</mat-icon>
        Todos os Cursos
      </button>
    </div>

    <div class="header-profile">

      <section class="profile-logged" *ngIf="usuarioLogado">
        <div class="header-profile-avatar">
          <img src="{{ usuarioLogado.avatar }}" class="avatar" />
        </div>
        <div class="header-profile-info">
          <h1>Olá, {{ usuarioLogado.nome }}!</h1>
          <h2>Minha conta</h2>
        </div>
      </section>

      <section class="profile-no-logged" *ngIf="!usuarioLogado">
        <button mat-raised-button (click)="login()">
          Login
        </button>
        <button mat-raised-button color="accent" (click)="singup()">
          Cadastre-se
        </button>
      </section>

    </div>

  </mat-toolbar-row>
</mat-toolbar>