<mat-toolbar color="primary" class="webflix-header mat-elevation-z3">
  <mat-toolbar-row>

    <div class="header-hamburguer">
      <button mat-icon-button>
        <mat-icon aria-label="Open Menu Button">menu</mat-icon>
      </button>
    </div>

    <div class="header-brand">
     <img src="assets\images\logo.fw.png" />
    </div>

    <div class="header-search">
      <mat-form-field class="header-search-input">
        <input type="text" matInput placeholder="O que você quer aprender hoje?">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="header-nav">
      <button mat-button>
        <mat-icon aria-hidden="true">view_module</mat-icon>
        Categorias
      </button>
      <button mat-button>
        <mat-icon aria-hidden="true">school</mat-icon>
        Torne-se um Instrutor
      </button>
    </div>

    <div class="header-profile">
    </div>

  </mat-toolbar-row>
</mat-toolbar>