/**
* Webflix Color Pallete
*/

$COLOR_BG: #161E24;
$COLOR_PRIMARY: #C83737;
$COLOR_PRIMARY_SHADOW: #B63131;
$COLOR_SECONDARY: green;

$COLOR_CLEAN: #EEE;
$COLOR_WHITE: #FFF;
$COLOR_BLACK: #222;
$COLOR_GRAY: #444;